<html>
  <head>
    <title>%(title)s</title>
    %(generator)s
  </head>
  <body>
    <h1>%(title)s</h1>
    <p>
      <table width="100%%" border="0" cellspacing="0" cellpadding="10">
        <tr>
          <td>
            <p><font size="2">This presentation was created with %(generatorname)s.
              %(generatorname)s is available for <a href="http://www.oratrix.com/GRiNS/">free
              trial here</a>.</font></p>
            <p><font size="2">You will need the RealONE Player to watch this presentation.
              If your browser warns you that you don't have a necessary plug-in
              or helper application, you need to download and <a href="http://www.real.com/player/">install
              the free RealONE&#153; Player here</a>.</font> </p>
              <p align="center"><a href="http://www.real.com/player/"><img src="%(templatedir)s/realONE_logo_68x56.gif" width="68" height="56" border="0"></a></p>
          </td>
        </tr>
      </table>
    </p>
%(singleregion)s
    <!-- Object for control panel -->
    <p>
      <object classid="clsid:CFCDAA03-8BE4-11cf-B84B-0020AFBBCCFA" width="275" height="125">
        <param name="controls" value="All">
        <param name="console" value="clip_1">
        <embed controls="All" console="clip_1" width="275" height="125" type="audio/x-pn-realaudio-plugin" nojava="true">
      </object>
    </p>
    <p>
    %(copyright)s<br>
    %(author)s
    </p>
  </body>
</html>
