<html>
  <head>
    <title>%(title)s</title>
    %(generator)s
  </head>
  <body>
    <h1>%(title)s</h1>
    <p>
      This presentation uses G2. You don't have it? You're hosed....
    </p>
%(multiregion)s
    <!-- Object for control panel -->
    <p>
      <object classid="clsid:CFCDAA03-8BE4-11cf-B84B-0020AFBBCCFA" width="275" height="125">
        <param controls="All">
        <param console="clip_1">
        <embed controls="All" console="clip_1" width="275" height="125" type="audio/x-pn-realaudio-plugin" nojava="true">
      </object>
    </p>
  </body>
</html>
