<html>
  <head>
    <title>%(title)s</title>
    %(generator)s
  </head>
  <body>
    <h1>%(title)s</h1>
    <p>
      <table width="100%%" border="0" cellspacing="0" cellpadding="10">
        <tr>
          <td>
            <p><font size="2">This presentation was created with %(generatorname)s.
              %(generatorname)s is available for <a href="http://www.oratrix.com/">free
              trial here</a>.</font></p>
            <p><font size="2">You will need QuickTime Player to watch this presentation.
              If your browser warns you that you don't have a necessary plug-in
              or helper application, you need to download <a href="http://www.apple.com/quicktime/"> and install
              the free QuickTime Player here</a>.</font> </p>
          </td>
        </tr>
      </table>
    </p>
%(singleregion)s
    <p>
    %(copyright)s<br>
    %(author)s
    </p>
  </body>
</html>
